---
/** Carte style Ecofinconseils (compatible shadcn-vue Card quand installé) */
interface Props {
  class?: string
}
const { class: className } = Astro.props
---
<div class:list={['rounded-xl border border-gray-800 bg-[#0A1929]/50 p-6', className]}>
  <slot />
</div>
